div.navbar {
  margin-bottom: 4em;
}
span.brewery-name {
  font-weight: bold;
}
span.special {
  font-weight: bold;
}
span.marker {
  width: 1.25em;
  height: 1.25em;
  border-radius: .8em;
  margin-right: .5em;
  display: block;
  float: left;
}
span.marker.Lager.American,
span.marker.Lager,
span.marker.Wheat,
span.marker.Wheat.American,
span.marker.Pilsner,
span.marker.Hefeweizen,
span.marker.Cider {
  background-color: #fee799;
}
span.marker.IPA,
span.marker.Pale.Ale {
  background-color: #e39002;
}
span.marker.Ale {
  background-color: #b65300;
}
span.marker.Ale.Red {
  background-color: #771c01;
  color: white;
}
span.marker.Ale.Brown {
  background-color: #560c03;
}
span.marker.Stout,
span.marker.Porter {
  background-color: #35090a;
}
