
{%extends 'layout.html'%}
{%block body%}
  <div class="container">
    <table id="b-table" class="table table-bordered">
      <thead>
        <tr>
          <th>
            Name
          </th>
          <th>
            Available At
          </th>
          <th>
            Full Price
          </th>
          <th>
            Current Price
          </th>
        </tr>
      </thead>
      <tbody>
        {% for beer in beers %}
        <tr>
          <td>
            <span class="brewery-name">
              {{beer.brewery}}
            </span>
            <span class="beer-name">
              {{beer.name}}
            </span>
            ({{beer.beer_type}})
          </td>
          <td>
            {{beer.current_price()}}
          </td>
          <td>
            $6
          </td>
          <td>
            ${{beer.current_lowest_price()}}
          </td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
  </div>
{%endblock%}

