{%extends 'layout.html'%}
{%block body%}
<link rel="stylesheet" href="/static/css/jquery.dataTables.css" type="text/css" media="screen" title="no title" charset="utf-8">
<div class="container">
  <table id='beer-table' class="table table-bordered">
    <thead>
      <tr>
        <th>Brewery</th>
        <th>Beer</th>
        <th>Style</th>
        <th>Best Price</th>
      </tr>
    </thead>
    <tbody>
      {% for beer in beers %}
      <tr>
        <td><span class='brewery-name'>{{beer.brewery}}</span></td>
        <td>{{beer.name}}</td>
        <td> <span class='{{beer.beer_type}} marker'></span>{{beer.beer_type}}</td>
        <td class="price">
          {% set price, cheap_bars = beer.current_lowest_price() %}
          {% if price %}
          <a href="#" onclick='return false;' data-toggle='tooltip' data-original-title='{{cheap_bars|join(', ', attribute='name')}}'>{{price|currency}}</a>
          {% if price < beer.normal_price() %}
            (ON SALE!)
          {% endif %}
          {% else %}
          <span class='muted'>Currently unavailable</span>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    $('body').tooltip({
              selector: 'a[rel="tooltip"], [data-toggle="tooltip"]'
     }); 
    $('#beer-table').dataTable();
  });
</script>
{%endblock%}

