<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>untitled</title>
	<meta name="author" content="Hollis Ervin">
	<!-- Date: 2013-05-30 -->
  <link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="../static/css/beerburg.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
  <script src="../static/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
  <script src="../static/js/bootstrap-tooltip.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="navbar-inner">
        <a class="brand" href="/">Blotify</a>
        <ul class="nav">
          <li><a href="/add_beer">Add a Beer</a></li>
          <li><a href="/add_bar">Add a Bar</a></li>
          <li><a href="/add_price">Change Prices</a></li>
          <li><a href="/add_special">Add a Special</a></li>
        </ul>
      </div>
    </div>

  {%block body %}
  {%endblock%}
</body>
</html>



